In [3]:
# Equal Weights Strategy
import pandas as pd
import numpy as np
import yfinance as yf
import math

In [4]:
# Load The Stocks
tickers = pd.read_csv('top_50_indian_stocks.csv')
tickers.head()

         Ticker               Company Name
0   RELIANCE.NS        Reliance Industries
1        TCS.NS  Tata Consultancy Services
2   HDFCBANK.NS                  HDFC Bank
3       INFY.NS                    Infosys
4  ICICIBANK.NS                 ICICI Bank

In [8]:
def fetch_market_cap(ticker_list):
    data = yf.download(ticker_list, period = '1d', group_by='ticker', auto_adjust=False)
    
    stocks_data = []
    for ticker in ticker_list:
        latest_price = data[ticker]['Close'].iloc[-1]
        market_cap = yf.Ticker(ticker).info.get("marketCap", 'N/A')
        stocks_data.append({
            "Ticker" : ticker, 
            "Market Cap" : market_cap,
            "Latest Price" : latest_price,
        })
        
    stocks_df = pd.DataFrame(stocks_data)
        
    return stocks_df
        
    

tickers_list = tickers["Ticker"].values.tolist()
df = fetch_market_cap(tickers_list)
df.head()

[*********************100%***********************]  50 of 50 completed

         Ticker      Market Cap  Latest Price
0   RELIANCE.NS  19247275180032   1422.300049
1        TCS.NS  12781988347904   3532.100098
2   HDFCBANK.NS  14616033755136   1908.400024
3       INFY.NS   6531322478592   1576.500000
4  ICICIBANK.NS  10138292322304   1422.099976

In [9]:
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  19247275180032   1422.300049
1          TCS.NS  12781988347904   3532.100098
2     HDFCBANK.NS  14616033755136   1908.400024
3         INFY.NS   6531322478592   1576.500000
4    ICICIBANK.NS  10138292322304   1422.099976
5   HINDUNILVR.NS   5504262209536   2342.000000
6         SBIN.NS   7101320003584    795.500000
7   BAJFINANCE.NS   5615555444736   9047.000000
8   BHARTIARTL.NS  10953413361664   1827.099976
9          ITC.NS   5353532030976    427.850006
10   KOTAKBANK.NS   4116671627264   2071.600098
11    ADANIENT.NS   2866982944768   2484.800049
12          LT.NS   4901635620864   3564.300049
13     HCLTECH.NS   4460491309056   1647.500000
14  ASIANPAINT.NS   2203822850048   2299.000000
15    AXISBANK.NS   3692446351360   1191.699951
16   SUNPHARMA.NS   4091097645056   1706.000000
17       WIPRO.NS   2634803576832    251.880005
18  ULTRACEMCO.NS   3442527698944  11703.000000
19    HDFCLIFE.NS   1595079524352    740.950012
20        ONGC.NS   3067438694400    243.710007
21        NTPC.NS   3245924417536    334.399994
22   POWERGRID.NS   2709716992000    291.200012
23  TATAMOTORS.NS   2643209224192    718.200012
24  INDUSINDBK.NS    601312854016    772.349976
25  ADANIGREEN.NS   1534051745792    959.349976
26       TITAN.NS   3179169185792   3584.399902
27    DIVISLAB.NS   1642456678400   6187.500000
28       TECHM.NS   1427021758464   1611.699951
29      MARUTI.NS   3977826795520  12652.000000
30   COALINDIA.NS   2473719758848    401.399994
31        BPCL.NS   1372707225600    315.750000
32    JSWSTEEL.NS   2480747839488   1016.700012
33     DRREDDY.NS   1008137994240   1211.300049
34  BAJAJFINSV.NS   3211990925312   2013.199951
35  ADANIPORTS.NS   2997626339328   1387.300049
36       CIPLA.NS   1192637104128   1476.000000
37   BRITANNIA.NS   1318752354304   5475.000000
38     HAVELLS.NS    998214270976   1591.400024
39    SHREECEM.NS   1128684453888  31260.000000
40      GRASIM.NS   1858243919872   2737.800049
41   TATASTEEL.NS   1951836667904    156.429993
42  HEROMOTOCO.NS    852268154880   4261.500000
43         M&M.NS   3728890134528   3107.399902
44   EICHERMOT.NS   1485968900096   5420.500000
45         IOC.NS   2051104309248    145.229996
46     SBICARD.NS    859869020160    904.049988
47  PIDILITIND.NS   1582356103168   3110.699951
48       DMART.NS   2648678596608   4070.100098
49     HDFCAMC.NS   1002546987008   4686.100098

In [ ]:
# Sort The Values
df = df.sort_values(by = "Market Cap", ascending = False)
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  19247275180032   1422.300049
2     HDFCBANK.NS  14616033755136   1908.400024
1          TCS.NS  12781988347904   3532.100098
8   BHARTIARTL.NS  10953413361664   1827.099976
4    ICICIBANK.NS  10138292322304   1422.099976
6         SBIN.NS   7101320003584    795.500000
3         INFY.NS   6531322478592   1576.500000
7   BAJFINANCE.NS   5615555444736   9047.000000
5   HINDUNILVR.NS   5504262209536   2342.000000
9          ITC.NS   5353532030976    427.850006
12          LT.NS   4901635620864   3564.300049
13     HCLTECH.NS   4460491309056   1647.500000
10   KOTAKBANK.NS   4116671627264   2071.600098
16   SUNPHARMA.NS   4091097645056   1706.000000
29      MARUTI.NS   3977826795520  12652.000000
43         M&M.NS   3728890134528   3107.399902
15    AXISBANK.NS   3692446351360   1191.699951
18  ULTRACEMCO.NS   3442527698944  11703.000000
21        NTPC.NS   3245924417536    334.399994
34  BAJAJFINSV.NS   3211990925312   2013.199951
26       TITAN.NS   3179169185792   3584.399902
20        ONGC.NS   3067438694400    243.710007
35  ADANIPORTS.NS   2997626339328   1387.300049
11    ADANIENT.NS   2866982944768   2484.800049
22   POWERGRID.NS   2709716992000    291.200012
48       DMART.NS   2648678596608   4070.100098
23  TATAMOTORS.NS   2643209224192    718.200012
17       WIPRO.NS   2634803576832    251.880005
32    JSWSTEEL.NS   2480747839488   1016.700012
30   COALINDIA.NS   2473719758848    401.399994
14  ASIANPAINT.NS   2203822850048   2299.000000
45         IOC.NS   2051104309248    145.229996
41   TATASTEEL.NS   1951836667904    156.429993
40      GRASIM.NS   1858243919872   2737.800049
27    DIVISLAB.NS   1642456678400   6187.500000
19    HDFCLIFE.NS   1595079524352    740.950012
47  PIDILITIND.NS   1582356103168   3110.699951
25  ADANIGREEN.NS   1534051745792    959.349976
44   EICHERMOT.NS   1485968900096   5420.500000
28       TECHM.NS   1427021758464   1611.699951
31        BPCL.NS   1372707225600    315.750000
37   BRITANNIA.NS   1318752354304   5475.000000
36       CIPLA.NS   1192637104128   1476.000000
39    SHREECEM.NS   1128684453888  31260.000000
33     DRREDDY.NS   1008137994240   1211.300049
49     HDFCAMC.NS   1002546987008   4686.100098
38     HAVELLS.NS    998214270976   1591.400024
46     SBICARD.NS    859869020160    904.049988
42  HEROMOTOCO.NS    852268154880   4261.500000
24  INDUSINDBK.NS    601312854016    772.349976

In [13]:
# Taking Top 10 Stocks As Per The Market Cap
df = df.head(10)
df.reset_index(inplace=True, drop=True)
df

          Ticker      Market Cap  Latest Price
0    RELIANCE.NS  19247275180032   1422.300049
1    HDFCBANK.NS  14616033755136   1908.400024
2         TCS.NS  12781988347904   3532.100098
3  BHARTIARTL.NS  10953413361664   1827.099976
4   ICICIBANK.NS  10138292322304   1422.099976
5        SBIN.NS   7101320003584    795.500000
6        INFY.NS   6531322478592   1576.500000
7  BAJFINANCE.NS   5615555444736   9047.000000
8  HINDUNILVR.NS   5504262209536   2342.000000
9         ITC.NS   5353532030976    427.850006

In [17]:
portfolio_size=int(input("enter the amount you want to invest :"))
position_size= portfolio_size/ len(df.index)
position_size

10000.0

In [19]:

df['Number of Shares to buy'] = df['Latest Price'].apply(lambda price: math.floor(
    position_size / price
))

df

C:\Users\sd105\AppData\Local\Temp\ipykernel_10540\2280406384.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Number of Shares to buy'] = df['Latest Price'].apply(lambda price: math.floor(

          Ticker      Market Cap  Latest Price  Number of Shares to buy
0    RELIANCE.NS  19247275180032   1422.300049                        7
1    HDFCBANK.NS  14616033755136   1908.400024                        5
2         TCS.NS  12781988347904   3532.100098                        2
3  BHARTIARTL.NS  10953413361664   1827.099976                        5
4   ICICIBANK.NS  10138292322304   1422.099976                        7
5        SBIN.NS   7101320003584    795.500000                       12
6        INFY.NS   6531322478592   1576.500000                        6
7  BAJFINANCE.NS   5615555444736   9047.000000                        1
8  HINDUNILVR.NS   5504262209536   2342.000000                        4
9         ITC.NS   5353532030976    427.850006                       23